html{
  font-size:62.5%;
}

body{
  font-family:Helvetica,Arial,sans-serif;
  background-color:$color-blue-dark;
}

.container{
  max-width:90%;
  margin:0 auto;
  background-color:$color-brown-light;
}
.sub-container{
  max-width:70%;
  margin:1rem auto;
  padding:3rem;
  background-color:$color-brown-light;
}
